{% extends 'main/base.html' %} {% block content %}
<div class="row">
  <div class="col-5">
    <div class="card shadow-sm justify-content-center mx-auto w-75">
      {% if post.image %}
      <img
        src="{{ post.image.url }}"
        class="card-img-top h-50"
        alt="Post Image"
      />
      {% endif %}

      <div class="card-body">
        <h2 class="card-title">{{ post.title }}</h2>
        <p class="card-text">{{ post.content }}</p>

        <p class="text-muted small">Published at: {{ post.published_at }}</p>

        <a
          href="{% url 'main:post_edit_view' post.id %}"
          class="btn btn-warning me-2"
          >Edit</a
        >

        <a
          href="{% url 'main:post_delete_view' post.id %}"
          class="btn btn-danger"
          onclick="return confirm('Are you sure you want to delete this post?');"
        >
          Delete
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
